name: benchmark

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/benchmarks.yml
      - packages/**
      - package.json
      - bun.lock
  pull_request:
    paths:
      - .github/workflows/benchmarks.yml
      - packages/**
      - package.json
      - bun.lock
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  benchmarks:
    name: run
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
        with:
          bun-version-file: package.json
      - run: bun ci
      - run: bun run build
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
      - uses: CodSpeedHQ/action@0700edb451d0e9f2426f99bd6977027e550fb2a6 # v4.7.0
        with:
          mode: simulation
          run: cd packages/benchmark && bun run bench
