name: lint
on:
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - run: curl -Ls "https://github.com/rhysd/actionlint/releases/download/v${{ env.version }}/actionlint_${{ env.version }}_linux_amd64.tar.gz" | sudo tar -x -z -C /usr/local/bin actionlint
        env:
          version: "1.7.8"
      - run: |
          echo "::add-matcher::.github/matchers/actionlint.json"
          actionlint -color

  typos:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: crate-ci/typos@v1

  validate-renovate-config:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - run: bun install -g renovate
      - run: renovate-config-validator .github/renovate.json

  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: package.json
      - run: bun install
      - run: bun run oxlint --type-aware

  format:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: package.json
      - run: bun install
      - run: bun run oxfmt
